.background {

    background: url("/images/tradewindsship.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.modal-backdrop {

    background-color:transparent;

}

.modal-title{

    font-size: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#5893b7;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom:-3%;
}

.loginLabelText{

    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#5893b7;
    font-weight: bold;
    text-align: left;
}



#disclaimerText{

    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#c73838;
    font-weight: bold;
    text-align: left;
    font-style: italic;

}

#signInButton{

    background-color:#5893b7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    border-color:#5893b7;

}


#navBar{

    width: 100%;
    float: left;
    position: absolute;
    height:50px;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);

}

.navBarMenuLinks{

    float: right;

}