.background {

    background: url("/images/tradewindsship.jpg") ;
    no-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.modal-backdrop {

    background-color:transparent;

}