.background {

    background: url("/images/tradewindsship.jpg") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.modal-backdrop {

    background-color:transparent;

}

.modal-title{

    font-size: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#CC7528;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loginLabelText{

    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#CC7528;
    font-weight: bold;
    text-align: left

}

#disclaimerText{

    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#CC7528;
    font-weight: bold;
    text-align: left;
    font-style: italic;

}

